<h1 style="text-align:center">Welcome to Hangman</h1>

<br />
<p>Hangman is a fun game that many people can remember playing as a child.  The rules of the game are simple.
    You have 7 guesses to figure out what the word is.  On each turn you will guess a letter, and if the letter is
    in the word then that letter will be revealed in the word.  Once you know what the word is, you can enter the
    word to see if it is correct.  If it is correct you win!  If the word is incorrect, or if you are out of guesses, then
    the game is over and you lose.</p>
<br />
<button onclick="document.location='/Hangman/GetWord'">Start Game</button>